<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div id="logo"><img alt="Rails logo" src="/assets/logo.png" /></div>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Question", questions_path %></li>
            <li><% if user_signed_in? %>
              <span id="not-login">Welcome <%= current_user.email %></span></li>
            <li><%= link_to 'Logged In [Click to logout]', destroy_user_session_path, :method => :delete %></li>
      <% else %>
            <li><span id="not-login">You are not signed in!</span></li>
            <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
          </ul>
        </nav>
      </div>
    </header>