<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Question", questions_path %></li>
            <li><% if user_signed_in? %>
              Welcome <%= current_user.email %></li>
            <li><%= link_to 'Logged In [click to logout]', destroy_user_session_path, :method => :delete %></li>
      <% else %>
            <li><a href="#">You are not signed in.</a></li>
            <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
          </ul>
        </nav>
      </div>
    </header>